body {
	background-color: Coral;
}

@if formfactor mobile {
	body {
		background-color: LightPink;
	}

	* {
		font-size:16pt !important;
	}
}

@if formfactor tablet {
	body {
		background-color: Orchid;
	}	
	
	@external .gwt-Label;
	.gwt-Label {
		font-size: 150%;
	}
}
